In [176]:
import urllib.request as ulr
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

# Задача 1

In [19]:
def sumThreeFive(n):
    output = 0
    for x in range(n):
        if x//5==x/5 or x//3 == x/3:
            output = output + x
    return output

Результат для 10000

In [24]:
sumThreeFive(10000)

23331668

# Задача 2

In [27]:
def Fibonacci(n):
    if n == 0: 
        return 0
    elif n == 1:
        return 1
    else: 
        return Fibonacci(n-1)+Fibonacci(n-2)

In [30]:
Fibonacci(10)

55

In [141]:
Fibonacci(200)

280571172992510140037611932413038677189525

# Задача 3

In [77]:
dictionary = pd.read_csv('Users/Nataly/Downloads/words-list-russian.txt',header = None)
dictionary.columns = ['words']

In [78]:
dictionary.head(4)

      words
0    абажур
1      абаз
2    абазин
3  абазинка

In [35]:
def convert(x):
    q = list(x)
    u = np.unique(q)
    return {i:q.count(i) for i in u}

In [44]:
convert('тест')

{'е': 1, 'с': 1, 'т': 2}

In [79]:
dictionary['coded'] = dictionary['words'].apply(lambda x: convert(x))

In [80]:
dictionary.tail()

         words                                              coded
34005   ящурка   {'к': 1, 'я': 1, 'р': 1, 'а': 1, 'у': 1, 'щ': 1}
34006   ёкание   {'ё': 1, 'и': 1, 'н': 1, 'е': 1, 'а': 1, 'к': 1}
34007     ёлка                   {'л': 1, 'ё': 1, 'а': 1, 'к': 1}
34008  ёмкость  {'ё': 1, 'ь': 1, 'к': 1, 'м': 1, 'т': 1, 'о': ...
34009    ёрник           {'ё': 1, 'и': 1, 'н': 1, 'к': 1, 'р': 1}

In [111]:
words_with_anagram=[]
for i in range(len(dictionary)):
    words_with_anagram.append(sum((dictionary['coded'] == dictionary['coded'][i])*1))

In [120]:
dictionary['# of anagrams'] = pd.Series(words_with_anagram)

In [122]:
df_ana = dictionary[dictionary['# of anagrams']>=4]
df_ana.reset_index(inplace = True, drop = True)

In [130]:
end_list=[]
for i in range(len(df_ana)):
    j_list = []
    for j in range(len(df_ana)):
        if set(df_ana['coded'][i].items())==set(df_ana['coded'][i].items())&set(df_ana['coded'][j].items()):
            j_list.append(df_ana['words'][j])
    end_list.append(j_list)

In [133]:
anagram_list = pd.Series(end_list)

In [138]:
anagram_list = anagram_list.apply(lambda x: ','.join(x))

In [140]:
#Наши анаграммы
anagram_list.drop_duplicates()

0                 аборт,обрат,табор,торба
1     автор,втора,отвар,рвота,тавро,товар
2                     арак,арка,кара,рака
5                 калан,канал,ланка,накал
8                     корт,крот,торк,трок
16                    рост,сорт,торс,трос
17                секта,сетка,стека,тесак
dtype: object

# Задача 4

In [144]:
#Loop: finding new words
parent_word = convert('лекарство')
new_words=[]

for i in range(len(dictionary)):
    x = dictionary['coded'][i]
    if len(set(x.items()) & set(parent_word.items())) == len(x):
        new_words.append(dictionary['words'][i])
new_words = pd.Series(new_words)

In [145]:
new_words

0          автол
1          автор
2            акр
3             ар
4          арест
5            арк
6          аскер
7           ваер
8          валет
9            вар
10           век
11          веко
12        вектор
13          вера
14          верк
15       верстак
16           вес
17         весло
18          вест
19         ветка
20         ветла
21          влас
22         вокал
23           вол
24           вор
25          ворс
26          воск
27         втора
28            ер
29           кал
         ...
117         сорт
118         срок
119       старое
120      створка
121         стек
122        стека
123       стекло
124    стекловар
125        стела
126         сток
127       стокер
128       стрела
129      стрелок
130         тавр
131        тавро
132          тал
133        талес
134         тело
135        тесак
136        тесло
137        товар
138          тол
139         торк
140         торс
141         трак
142         трал
143         трек
144        треск
145         трок
146         трос
dtype: object

In [146]:
len(new_words)

147

# Задача 5

In [147]:
duplicated_letters = dictionary['words'].apply(lambda x: sum((pd.Series(list(x)).duplicated())*1))
dictionary['Duplicated letters'] = duplicated_letters

In [148]:
words_game = dictionary[dictionary['Duplicated letters']==0]['words']
words_game = words_game[words_game.str.len()==5]

In [163]:
counter = 0
while True:
    counter += 1
    mystiq = words_game.iloc[np.random.randint(len(words_game))]
    entered_word = input('Введите слово из 5 неповторяющихся букв:')
    if len(entered_word) > 5 or len(entered_word) <5 or sum(pd.Series(list(entered_word)).duplicated()*1) != 0\
    or sum(words_game.isin([entered_word])*1) == 0:
        print('Неподходящее слово, введите другое')
    else:
        if entered_word == mystiq:
            print('Вы отгадали слово за %s попыток!' %counter)
            break
        else:
            print('%s букв угадано' %len(set(list(entered_word))&set(list(mystiq))))

Введите слово из 5 неповторяющихся букв:птица
0 букв угадано
Введите слово из 5 неповторяющихся букв:болид
2 букв угадано
Введите слово из 5 неповторяющихся букв:букля
Вы отгадали слово за 3 попыток!

# Задача 6

In [171]:
entered_word = input('Введите слово из 5 неповторяющихся букв: ')
counter = 0
words_game2 = words_game.copy()
if sum(words_game.isin([entered_word])*1)==1:
    while True:
        counter += 1
        mystiq = words_game2.iloc[np.random.randint(len(words_game2))]
        print('Я думаю это слово',mystiq)
        letters = int(input('Сколько букв компьютер правильно угадал?'))
        if letters == 0:
            words_game2 = words_game2[words_game2.apply(lambda x: len(set(list(x))&set(list(mystiq))))==0]
        elif letters > 0 and letters < 5:
            words_game2.drop(words_game2.index[words_game2.isin([mystiq])][0],0,inplace = True)
        elif letters == 5:
            words_game2 = words_game2[words_game2.apply(lambda x: len(set(list(x))&set(list(mystiq))))==5]
        if entered_word == mystiq:
            break
    print('У меня получилось за %s попыток!' %counter)
else:
    print('У меня в словаре нет такого слова')

Введите слово из 5 неповторяющихся букв: болид
Я думаю это слово копна
Сколько букв компьютер правильно угадал?1
Я думаю это слово грыжа
Сколько букв компьютер правильно угадал?0
Я думаю это слово купон
Сколько букв компьютер правильно угадал?1
Я думаю это слово сейид
Сколько букв компьютер правильно угадал?1
Я думаю это слово чувяк
Сколько букв компьютер правильно угадал?0
Я думаю это слово нефть
Сколько букв компьютер правильно угадал?0
Я думаю это слово олимп
Сколько букв компьютер правильно угадал?1
Я думаю это слово излом
Сколько букв компьютер правильно угадал?1
Я думаю это слово блюдо
Сколько букв компьютер правильно угадал?1
Я думаю это слово болид
Сколько букв компьютер правильно угадал?5
У меня получилось за 10 попыток!

# Задача 7

In [172]:
#Problem 7
site = 'http://www.belstat.gov.by/ofitsialnaya-statistika/makroekonomika-i-okruzhayushchaya-sreda/natsionalnye-scheta/godovye-dannye_11/proizvodstvo-valovogo-vnutrennego-produkta/'

In [173]:
site

'http://www.belstat.gov.by/ofitsialnaya-statistika/makroekonomika-i-okruzhayushchaya-sreda/natsionalnye-scheta/godovye-dannye_11/proizvodstvo-valovogo-vnutrennego-produkta/'

In [179]:
response = ulr.urlopen(site)
soup = response.read()
table = pd.read_html(soup)

In [183]:
df = table[0]
df

,0,1,2,3,4,5,6,7,8
0,NaN,2009,2010,2011,2012,2013,2014,2015,2016
1,Валовой внутренний продукт,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"в текущих ценах, млрд. руб. (2016 год – млн....",142 091,170 466,307 245,547 617,670 688,805 793,899 098,94 949
3,"в сопоставимых ценах, в процентах к предыдуще...",x,1077,1055,1017,1010,1017,962,975
4,"Валовой внутренний продукт на душу населения, ...",14 946,17 962,32 433,57 860,70 852,85 048,94 745,9 993

In [189]:
df.ix[2] = df.ix[2].apply(lambda x: x.replace(u'\xa0',''))

In [191]:
df.ix[2] = df.ix[2].apply(lambda x: x.replace(u' ',''))

In [195]:
df

,0,1,2,3,4,5,6,7,8
0,NaN,2009,2010,2011,2012,2013,2014,2015,2016
1,Валовой внутренний продукт,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"втекущихценах,млрд.руб.(2016год–млн.руб.)",142091,170466,307245,547617,670688,805793,899098,94949
3,"в сопоставимых ценах, в процентах к предыдуще...",x,1077,1055,1017,1010,1017,962,975
4,"Валовой внутренний продукт на душу населения, ...",14 946,17 962,32 433,57 860,70 852,85 048,94 745,9 993

In [196]:
df = df.convert_objects(convert_numeric=True)

/Users/Vadim/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [219]:
new_row = list(df[df.columns[1:]].ix[3]/10)
new_row

[nan, 107.7, 105.5, 101.7, 101.0, 101.7, 96.200000000000003, 97.5]

In [221]:
new_row.insert(0,df.ix[3][0])

In [223]:
df.ix[3] = new_row

In [224]:
df

,0,1,2,3,4,5,6,7,8
0,NaN,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0
1,Валовой внутренний продукт,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"втекущихценах,млрд.руб.(2016год–млн.руб.)",142091.0,170466.0,307245.0,547617.0,670688.0,805793.0,899098.0,94949.0
3,"в сопоставимых ценах, в процентах к предыдуще...",NaN,107.7,105.5,101.7,101.0,101.7,96.2,97.5
4,"Валовой внутренний продукт на душу населения, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN